.Rproj.user
.Rhistory
.RData
.Ruserdata
/src/arcgis
/src/qgis
/src/old
/outputs
/figures
/doc
/data/dems
/data/differenced
/data/orthomosaics
/src/r/old
.idea
*.pdf
*.tif
*.xml
*.shp
*.dbf
*.CPG
*.shx
*.prj