.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
/src/arcgis
/src/qgis
/src/old
/doc/*


data/**
!data/unprocessed_dems
!data/unprocessed_dems/lidar
!data/unprocessed_dems/rgb
!data/shp

outputs/**
!outputs/processed_dems
!outputs/processed_dems/lidar
!outputs/processed_dems/lidar/differenced
!outputs/processed_dems/rgb
!outputs/processed_dems/rgb/differenced
!outputs/shp
!.gitkeep

/figures/*
!/figures/.gitkeep
/src/r/old

