.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
/src/arcgis
/src/qgis
/src/old
/doc/*
/data/old/*
/data/unprocessed_dems/lidar/*
!/data/unprocessed_dems/lidar/.gitkeep
/data/unprocessed_dems/rgb/*
!/data/unprocessed_dems/rgb/.gitkeep
/data/shp/*
!/data/shp/.gitkeep
/outputs/processed_dems/lidar/*
!/outputs/processed_dems/lidar/.gitkeep
/outputs/processed_dems/lidar/differenced/*
!/outputs/processed_dems/lidar/differenced/.gitkeep
/outputs/processed_dems/rgb/*
!/outputs/processed_dems/rgb/.gitkeep
/outputs/processed_dems/rgb/differenced/*
!/outputs/processed_dems/rgb/differenced/.gitkeep
/outputs/shp/*
!/outputs/shp/.gitkeep
/figures/*
!/figures/.gitkeep
/src/r/old

